* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
}
.shopping-list {
  margin-top: 1rem;
}
.remove-btn {
  margin-right: 0.5rem;
}
.fade-enter {
  opacity: 0.1;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.1;
  transition: opacity 1000ms ease-out;
}
